<!-- /sections/section-divider.liquid -->
{%- liquid
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Divider--' | append: section.id
  assign animation_delay = 150
-%}

{%- style -%}
  #Divider--{{ section.id }} {
    padding-top: {{ section.settings.padding_top | append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};
  }
{%- endstyle -%}

<section id="Divider--{{ section.id }}"
  class="divider-section {{ section_width }}"
  data-section-id="{{ section.id }}"
  data-section-type="divider">
    <hr class="hr--full"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
  {%- endif -%}
</section>
